<div class="container">
	<div class="row vertical-offset-100">
		<div class="col-md-8 col-md-offset-2">
			<div class="table-header">
				<div style="height: 40px;">
					<h3 style="margin: 0px; float: left;">Registro de Estructura</h3>
					<div class="form-select" style="width: 250px; margin-bottom: 0px; float: right; padding: 5px;">
						{{#power-select
						search=(action "searchVoters")
						selected=selected
						placeholder="Busca por Nombre o Apellido"
						onchange=(action "seeVoter")
						as |voter|
						}}
							{{voter.first_name}} {{voter.first_last_name}}
						{{/power-select}}
					</div>
				</div>
				<div style="height: 30px;line-height: 30px;">
					{{#link-to "ine.upload-file" class="voters-table-links"}}
						<span>Subir Archivo</span>
						<i class="fa fa-file"></i>
	            	{{/link-to}}

	            	{{#link-to "ine.new-voter" class="voters-table-links"}}
	              		<span>Agregar Completo</span>
	              		<i class="fa fa-plus"></i>
	            	{{/link-to}}

	            	<a class="voters-table-links" {{action 'showQuickForm'}}>
	            		<span>Agregar Simple</span>
	              		<i class="fa fa-plus-square-o"></i>
	            	</a>

	            	<a class="voters-table-links" {{action 'showFilters'}}>
	            		<span>Filtros</span>
	              		<i class="fa fa-filter"></i>
	            	</a>
				</div>

				{{!-- filters --}}
				{{#liquid-if showFilters class="expandedVoter"}}
					<div style="height: 30px; font-size: 15px;">
						En esta fila iran iran los filtros
					</div>
				{{/liquid-if}}

				{{#liquid-if showQuickForm class="expandedVoter"}}
					<div style="height: 30px; font-size: 15px;">
						En esta fila iran forma de agregar usuario simple
					</div>
				{{/liquid-if}}			
			</div>
			<table class="table table-striped table-hover table-condensed">
				<thead class="voter-table-header">
					<tr>
						<td>Credencial Elector</td>
						<td>Nombre</td>
						<td>Paterno</td>
						<td>Materno</td>
						<td>Fecha de Nacimiento</td>
						<td>Estado</td>
						<td></td>
					</tr>
				</thead>

				<tbody class="voter-table-content">
					{{#each model as |voter|}}
						{{voter-row voter=voter}}
					{{/each}}
					{{infinity-loader infinityModel=model}}
				</tbody>
			</table>
		</div>
	</div>
</div>
