<div class='dashboard'>
    <div class="chart-panel">
        Número total de registros: {{async-data title="" query="total"}}
    </div>
    <div class="chart-panel">
        <p class="chart-title">Genero</p>
        {{async-chart query='gender' type='column'}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Fecha de Nacimiento</p>
        <p class="chart-subtitle">por año</p>
        {{async-chart query='date_of_birth' type='line'}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Nivel Educativo</p>
            {{async-chart query='ed_level' type='column'}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Fecha de Captura</p>
        <p class="chart-subtitle">por mes</p>
        {{async-chart query='added_month' type='line' options=noPoints}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Fecha de Captura</p>
        <p class="chart-subtitle">por semana</p>
        {{async-chart query='added_week' type='line' options=noPoints}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Fecha de Captura</p>
        <p class="chart-subtitle">por día</p>
        {{async-chart query='added_day' type='line' options=noPoints}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Ocupación</p>
        {{async-chart query="ocupation" type="column"}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Es parte del partido</p>
        {{async-chart query="party" type="column"}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Tiene E-mail?</p>
        {{async-chart query="email" type="column"}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Tiene Telefono?</p>
        {{async-chart query="phone" type="column"}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Tiene Facebook?</p>
        {{async-chart query="facebook" type="column"}}
    </div>

    <div class="chart-panel">
        <p class="chart-title">Número de Registros</p>
        {{async-chart query="state" type="column" options=stateClickOption}}
        {{#if selectedState}}
            {{async-chart query=municipalityQuery type="column" options=municipalityClickOption}}
        {{/if}}
        {{#if selectedMunicipality}}
            {{async-chart query=sectionQuery type="column"}}
        {{/if}}
    </div>
</div>