<div class="projections-toolbar">

	<div class="map-breadcrumbs">
	
		<ul class="map-links">
			<li class="map-link">
				México
			</li>
			{{#if state}}
			<li class="map-link">
				> {{state}}			
			</li>
			{{/if}}

			{{#if municipality}}
			<li class="map-link">
				> {{municipality}}			
			</li>
			{{/if}}
		</ul>
	</div>

	<div class="searchbar-container">
		{{input type='search' class='searchbar' key-down='setSearchValue' value=searchValue placeholder="Search"}}
		<i class="fa fa-search ticket-table-search-icon"></i>
	</div>
</div>

{{!-- <h2 {{action 'setState'}}>México > {{state}}</h2> --}}

{{!-- {{#if municipality}}
{{municipality}}
{{/if}} --}}