<div class="projections-sidebar">
<p class="sidebar-text-title">Division estatal por:</p>
<p class="sidebar-text-left {{if isMunicipal "sidebar-selected"}}" {{action 'setMapDivision' "municipal"}}>Municipios</p>
<p class="sidebar-text-right {{if isFederal "sidebar-selected"}}" {{action 'setMapDivision' "federal"}}>Distritos Federales</p>

<p class="sidebar-text-title">Data:</p>
<p class="sidebar-text-left {{if isVotes "sidebar-selected"}}" {{action 'setDataType' "votes"}}>Votaciones</p>
<p class="sidebar-text-right {{if isPopulation "sidebar-selected"}}" {{action 'setDataType' "population"}}>Población</p>

{{!-- <p class="sidebar-text-title">{{something.sectionCode}}</p> --}}
</div>