<div id="tooltip-map">
{{#if isPopulation}}

	{{tooltip-population hoveredSection=hoveredSection}}
	
{{else}}

	{{#if isNormal}}
		{{tooltip-normal hoveredSection=hoveredSection totalVotes=totalVotes firstPartyColor=firstPartyColor firstParty=firstParty secondPartyColor=secondPartyColor secondParty=secondParty others=others }}
	{{/if}}

	{{#if isComparison}}
		{{tooltip-comparison comparisonBar=comparisonBar hoveredSection=hoveredSection totalVotes=totalVotes firstPartyColor=firstPartyColor firstParty=firstParty secondPartyColor=secondPartyColor secondParty=secondParty others=others }}
	{{/if}}

	{{#if isSingle}}
		{{tooltip-single hoveredSection=hoveredSection sectionsData=sectionsData totalVotes=totalVotes firstParty=firstParty}}
	{{/if}}

{{/if}}
</div>

	
{{#if isPopulation}}
	{{map-key-population}}
{{else}}
	{{map-key}}
{{/if}}