<div id="tooltip-map">
{{#if isPopulation}}

	{{tooltip-population hoveredSection=hoveredSection less30=less30 more30=more3 fem=fem masc=masc}}
	
{{else}}

	{{#if isNormal}}
		{{tooltip-normal hoveredSection=hoveredSection totalVotes=totalVotes firstPartyColor=firstPartyColor firstParty=firstParty secondPartyColor=secondPartyColor secondParty=secondParty others=others }}
	{{/if}}

	{{#if isComparison}}
		{{tooltip-comparison hoveredSection=hoveredSection totalVotes=totalVotes firstParty=firstParty firstPartyColor=firstPartyColor secondPartyColor=secondPartyColor secondParty=secondParty comparisonBar=comparisonBar }}
	{{/if}}

	{{#if isSingle}}
		{{tooltip-single hoveredSection=hoveredSection totalVotes=totalVotes firstParty=firstParty}}
	{{/if}}

{{/if}}
</div>

	
{{#if isPopulation}}
	{{map-key-population}}
{{else}}
	{{map-key}}
{{/if}}