
<div id="tooltip-map">
	{{#if sectionData}}

	<div class="tooltip-row">
		<h6 style="text-align: center;">Sección : {{hoveredSection.section_code}}</h6>
	</div>

	<div class="tooltip-row">
		<span class="tooltip-color-box" style="{{firstPartyColor}}"></span>
		<span class="tooltip-party">{{firstParty.name}}</span>
		<span class="tooltip-votes-pan">{{firstParty.votes}}</span>
		<span class="tooltip-percent">{{firstParty.percentage}}%</span>
	</div>
	<div class="tooltip-row">
		<span class="tooltip-color-box" style="{{secondPartyColor}}"></span>
		<span class="tooltip-party">{{secondParty.name}}</span>
		<span class="tooltip-votes">{{secondParty.votes}}</span>
		<span class="tooltip-percent">{{secondParty.percentage}}%</span>
	</div>

	<div class="tooltip-row">
		<span class="tooltip-color-box otros"></span>
		<span class="tooltip-party">{{others.name}}</span>
		<span class="tooltip-votes">{{others.votes}}</span>
		<span class="tooltip-percent">{{others.percentage}}%</span>
	</div>

	{{else}}
		<div class="tooltip-row">
			<h4 style="text-align:center;">No Data</h4>
		</div>
	{{/if}}
	
</div>

{{map-key}}