<div id="tooltip-map">
{{#if isPopulation}}
	<div class="tooltip-row">
		<h6 style="text-align: center;">Sección : {{hoveredSection.section_code}}</h6>
	</div>

	<div class="tooltip-row">
		<span class="tooltip-color-box pri"></span>
		<span class="tooltip-party"> Población</span>
		<span class="tooltip-votes" style="font-weight: bold;">{{hoveredSection.population}}</span>
	</div>
{{else}}
	{{#if sectionData}}

	<div class="tooltip-row">
		<h6 style="text-align: center;">Sección : {{hoveredSection.section_code}}</h6>
	</div>

	<div class="tooltip-row">
		<span class="tooltip-color-box" style="{{firstPartyColor}}"></span>
		<span class="tooltip-party">{{firstParty.name}}</span>
		<span class="tooltip-votes-pan">{{firstParty.votes}}</span>
		<span class="tooltip-percent">{{firstParty.percentage}}%</span>
	</div>
	<div class="tooltip-row">
		<span class="tooltip-color-box" style="{{secondPartyColor}}"></span>
		<span class="tooltip-party">{{secondParty.name}}</span>
		<span class="tooltip-votes">{{secondParty.votes}}</span>
		<span class="tooltip-percent">{{secondParty.percentage}}%</span>
	</div>

	<div class="tooltip-row">
		<span class="tooltip-color-box otros"></span>
		<span class="tooltip-party">{{others.name}}</span>
		<span class="tooltip-votes">{{others.votes}}</span>
		<span class="tooltip-percent">{{others.percentage}}%</span>
	</div>

	{{else}}
		<div class="tooltip-row">
			<h4 style="text-align:center;">No Data</h4>
		</div>
	{{/if}}
{{/if}}
</div>

	
{{#if isPopulation}}
<div class="map-key">
	<div class="key-row-header">
		<div class="key-left-label">
			Baja Población
		</div>
		<span class="small-vertical-line vertical-line-left-pos"></span>
		<div class="key-right-label">
			Alta población
		</div>
		<span class="small-vertical-line vertical-line-right-pos"></span>
	</div>

	<div class="key-row">
		<div class="key-row-label"></div>
		<div class="colors-row">
			<div class="color-box population-25"></div>
			<div class="color-box population-50"></div>
			<div class="color-box population-75"></div>
			<div class="color-box population-100"></div>
		</div>
	</div>
</div>
{{else}}
	{{map-key}}
{{/if}}