<tr valign="middle">

	<td>{{voter.electoral_id_number}}</td>

	<td>{{voter.first_name}} {{voter.second_name}}</td>
	<td>{{voter.first_last_name}}</td>
	<td>{{voter.second_last_name}}</td>
	<td>{{readable-date voter.date_of_birth}}</td>
	<td>{{voter.state}}</td>

	<td>
		{{link-to "Editar" "ine.voter-edit" voter class="btn btn-info"}}
	</td>
</tr>
