<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-login">
                <div>
                    <div class="row-fluid user-row">
                        <img id="login-logo" class="img-responsive" />
                        <h2 style="text-align: center; padding-top: 10px;">{{form-title}}</h2>
                    </div>
                </div>
                <div class="panel-body">
                    {{#if voter.id}}
                    <form {{action "update" voter on="submit" }} accept-charset="UTF-8" role="form" class="form-signin">
                        <fieldset>
                            <label>Código Electoral:</label>
                                {{input value=voter.electoral_code placeholder="Código Electoral" class="form-control"}}
                            <label>Nombre:</label>
                                {{input value=voter.name placeholder="Nombre" class="form-control"}}
                            <label>Apellido Paterno:</label>
                                {{input value=voter.first_last_name placeholder="Apellido Paterno" class="form-control"}}
                            <label>Apellido Materno:</label>
                                {{input value=voter.second_last_name placeholder="Apellido Materno" class="form-control"}}
                            <label>Fecha de Nacimiento:</label>
                                {{input value=voter.date_of_birth placeholder="Fecha de Nacimiento" class="form-control"}}
                            <label>Calle:</label>
                                {{input value=voter.street placeholder="Calle" class="form-control"}}
                            <label>Número Exterior:</label>
                                {{input value=voter.outside_number placeholder="Número Exterior" class="form-control"}}
                            <label>Número interior:</label>
                                {{input value=voter.inside_number placeholder="Número interior" class="form-control"}}
                            <label>Colónia:</label>
                                {{input value=voter.suburb placeholder="Colónia" class="form-control"}}
                            <label>Código Postal:</label>
                                {{input value=voter.postal_code placeholder="Código Postal" class="form-control"}}
                            <label>TIMERES:</label>
                                {{input value=voter.TIMERES placeholder="TIMERES" class="form-control"}}
                            <label>Ocupación:</label>
                                {{input value=voter.occupation placeholder="Ocupación" class="form-control"}}
                            <label>FOL_NAC:</label>
                                {{input value=voter.FOL_NAC placeholder="FOL_NAC" class="form-control"}}
                            <label>EN_LN:</label>
                                {{input value=voter.EN_LN placeholder="EN_LN" class="form-control"}}
                            <label>Nombre de Municipio:</label>
                                {{input value=voter.municipality_name placeholder="Nombre de Municipio" class="form-control"}}
                            <label>Estado:</label>
                                {{input value=voter.state placeholder="Estado" class="form-control"}}
                            <label>Distrito:</label>
                                {{input value=voter.district placeholder="Distrito" class="form-control"}}
                            <label>Municipio:</label>
                                {{input value=voter.municipality placeholder="Municipio" class="form-control"}}
                            <label>Sección:</label>
                                {{input value=voter.section placeholder="Sección" class="form-control"}}
                            <label>Localidad:</label>
                                {{input value=voter.locality placeholder="Localidad" class="form-control"}}
                            <label>Manzana:</label>
                                {{input value=voter.apple placeholder="Manzana" class="form-control"}}
                            <label>CONS_LC:</label>
                                {{input value=voter.CONS_LC placeholder="CONS_LC" class="form-control"}}
                            <label>EMISIONCRE:</label>
                                {{input value=voter.EMISIONCRE placeholder="EMISIONCRE" class="form-control"}}
                            
                            {{input type="submit" value="Actualizar" class="btn btn-lg btn-block login-btn"}}
                        </fieldset>
                    </form>
                    {{else}}
                    <form {{action "create" voter on="submit" }} accept-charset="UTF-8" role="form" class="form-signin">
                        <fieldset>
                            <label>Código Electoral:</label>
                                {{input value=voter.electoral_code placeholder="Código Electoral" class="form-control"}}
                            <label>Nombre:</label>
                                {{input value=voter.name placeholder="Nombre" class="form-control"}}
                            <label>Apellido Paterno:</label>
                                {{input value=voter.first_last_name placeholder="Apellido Paterno" class="form-control"}}
                            <label>Apellido Materno:</label>
                                {{input value=voter.second_last_name placeholder="Apellido Materno" class="form-control"}}
                            <label>Fecha de Nacimiento:</label>
                                {{input value=voter.date_of_birth placeholder="Fecha de Nacimiento" class="form-control"}}
                            <label>Calle:</label>
                                {{input value=voter.street placeholder="Calle" class="form-control"}}
                            <label>Número Exterior:</label>
                                {{input value=voter.outside_number placeholder="Número Exterior" class="form-control"}}
                            <label>Número interior:</label>
                                {{input value=voter.inside_number placeholder="Número interior" class="form-control"}}
                            <label>Colónia:</label>
                                {{input value=voter.suburb placeholder="Colónia" class="form-control"}}
                            <label>Código Postal:</label>
                                {{input value=voter.postal_code placeholder="Código Postal" class="form-control"}}
                            <label>TIMERES:</label>
                                {{input value=voter.TIMERES placeholder="TIMERES" class="form-control"}}
                            <label>Ocupación:</label>
                                {{input value=voter.occupation placeholder="Ocupación" class="form-control"}}
                            <label>FOL_NAC:</label>
                                {{input value=voter.FOL_NAC placeholder="FOL_NAC" class="form-control"}}
                            <label>EN_LN:</label>
                                {{input value=voter.EN_LN placeholder="EN_LN" class="form-control"}}
                            <label>Nombre de Municipio:</label>
                                {{input value=voter.municipality_name placeholder="Nombre de Municipio" class="form-control"}}
                            <label>Estado:</label>
                                {{input value=voter.state placeholder="Estado" class="form-control"}}
                            <label>Distrito:</label>
                                {{input value=voter.district placeholder="Distrito" class="form-control"}}
                            <label>Municipio:</label>
                                {{input value=voter.municipality placeholder="Municipio" class="form-control"}}
                            <label>Sección:</label>
                                {{input value=voter.section placeholder="Sección" class="form-control"}}
                            <label>Localidad:</label>
                                {{input value=voter.locality placeholder="Localidad" class="form-control"}}
                            <label>Manzana:</label>
                                {{input value=voter.apple placeholder="Manzana" class="form-control"}}
                            <label>CONS_LC:</label>
                                {{input value=voter.CONS_LC placeholder="CONS_LC" class="form-control"}}
                            <label>EMISIONCRE:</label>
                                {{input value=voter.EMISIONCRE placeholder="EMISIONCRE" class="form-control"}}
                            {{input type="submit" value="Crear" class="btn btn-lg btn-block login-btn"}}
                        </fieldset>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>s