<div class="voter-expanded-row" style="height: 200px;">
	Nombre: {{voter.first_name}} {{voter.second_name}}
	Apellidos: {{voter.first_last_name}} {{voter.second_last_name}}
	Id Electoral{{voter.electoral_id_number}}
	Fecha expiracion INE:{{voter.expiration_date}}
			{{!-- Los demas atributos de voter los puedes ver en models/voter.js o voters.hbs, solo puse algunos
			como ejemplo --}}
</div>
